<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label>Name of Event
                <p class="alert alert-warning" th:errors="${event.name}"></p>
                <input th:field="${event.name}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Description
                <p class="alert alert-warning" th:errors="${event.description}"></p>
                <input th:field="${event.description}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Contact Email
                <p class="alert alert-warning" th:errors="${event.contactEmail}"></p>
                <input th:field="${event.contactEmail}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Location
                <p class="alert alert-warning" th:errors="${event.location}"></p>
                <input th:field="${event.location}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Is registration required?
                <p class="alert alert-warning" th:errors="${event.attendeeMustRegister}"></p>
                <input type="checkbox" name="attendeeMustRegister" th:checked="${event.attendeeMustRegister}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Number of Attendees
                <p class="alert alert-warning" th:errors="${event.numberOfAttendees}"></p>
                <input th:field="${event.numberOfAttendees}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Entry Fee
                <p class="alert alert-warning" th:errors="${event.entryFee}"></p>
                <input th:field="${event.entryFee}" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>Event Type
                <select th:field="${event.type}">
                    <option th:each="type : ${eventTypeValues}"
                            th:value="${type}"
                            th:text="${type.displayName}">
                    </option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success" />
        </div>
    </form>
</body>
</html>